body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.name-color {
    color: orange;
}

.flexiable {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.button {
    text-decoration: none;
    background-color: #FF926E;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-left: 40%;

}

.continer {
    padding: 20px;
    text-align: justify;
    margin: 10px;

}

.continer1 {
    padding: 20px;
    text-align: justify;
    margin-right: 100px;
}

.top-banner {
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp {
    margin-left: 40px;

}

.experience {
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}

.exp-color {
    color: orange;
}

.exp-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}

#full {
    border-left: 7px solid tomato;
}

#baby {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}